html,
body {
  font-family: Verdana, sans-serif;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Header: */

table.header-table {
  color: darkgrey;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 9pt;
}

table.header-table td:nth-child(1) {
  padding-right: 1em;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/*  Table views: */

table.table-view {
  border-collapse: collapse;
  border-spacing: 0;
  border: thin solid black;
  font-size: 9pt;
  width: 100%;
}

table.table-view tr {
  vertical-align: top;
}

table.table-view td {
  border: thin solid black;
  font-weight: bold;
  padding: 1pt;
}

table.table-view th {
  border: thin solid black;
  text-align: left;
  background-color: silver;
  font-weight: normal;
  padding: 1pt;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Sections: */

div.child-section {
  margin-left: 1em;
}

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

*.section-title {
  display: inline-block;
  padding-right: 5em;
  margin-top: 1em;
  margin-bottom: 0;
  padding-left: 1pt;
  padding-bottom: 1pt;
  padding-top: 1pt;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  width: 12cm;
}

h1.main-title {
  margin-bottom: 1em;
  font-size: 14pt;
}
